.layout {
  background-color: #1D222E;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 1rem;
}

.title {
  background-color: #1D222E;
  color: #EBECF0;
  grid-column-start: 2;
  justify-self: center;
}

.user-info-card {
  background-color: #1D222E;
  border: 10px solid #EBECF0;
  color: #EBECF0;
  grid-column-start: 3;
  text-align: center;
}

.user-name {
  border-bottom: 2px solid #EBECF0;
  font-size: x-large;
  margin: 10px;
  padding: 10px;
}

.user-address {
  border-bottom: 2px solid #EBECF0;
  margin: 10px;
  padding: 20px;
}

.user-email {
  border-bottom: 2px solid #EBECF0;
  margin: 10px;
  padding: 20px;
}

.stride-length {
  border-bottom: 2px solid #EBECF0;
  margin: 10px;
  padding: 20px;
}

.all-users-step-goal {
  border-bottom: 2px solid #EBECF0;
  margin: 10px;
  padding: 20px;
}

.your-daily-step-goal {
  text-align: center;
}

.your-daily-step-count {
  text-align: center;
}

.compare-user-steps {
  border: 1px solid black;

}

.user-hydration-card{
  border: 1px solid blue;
  position: relative;
  text-align: center;
  color: #1D222E;
  font-weight: 900;
  -webkit-text-stroke: 0.25px #EBECF0;
  box-shadow: 0 8px 6px -6px black;
}

.weekly-hydration-card{
  border: 10px solid #EBECF0;
  grid-column-start: 2;
  align-content: center;
  position: relative;
  text-align: -webkit-center;
}
.day-sleep-card{
  border: 1px solid Brown;
  position: relative;
  color: #EBECF0;
  background: #1D222E;
  text-align: center;
}
.week-sleep-card{
  border: 1px solid Brown;
}
.all-time-sleep-card{
  border: 1px solid Brown;
}
.day-activity-card{
  border: 10px solid #EBECF0;
  grid-column-start: 1;
  grid-row-start: 2;
}
.weekly-activity-card{
  border: 1px solid Green;
}
.comparison-activity-card{
  border: 1px solid Green;
}

.user-profile-display{
  background-color: #1D222E;
  color: #EBECF0;
  display: grid;
  justify-self: center;
}
.canvasjs-chart-canvas{
  position: inherit;
}














.carousel {
  background: #FAFAFA;
  margin: 0 60px; /* space for prev/next buttons */
}

.carousel-cell {
  width: 100%;
  height: 100%;
  margin-right: 10px;
  border-radius: 2px;
}

/* cell number */



/* smaller, dark, rounded square */
.flickity-prev-next-button {
  width: 30px;
  height: 30px;
  border-radius: 2px;
  background: #333;

}
.flickity-prev-next-button:hover {
  background: #F90;
}
/* arrow color */
.flickity-prev-next-button .arrow {
  fill: white;
}
.flickity-prev-next-button.no-svg {
  color: white;
}
/* position outside */
.flickity-prev-next-button.previous {
  left: -50px;
  background-color: #4AACC5;
}
.flickity-prev-next-button.next {
  right: -80px;
  background-color: #4AACC5;
}






/* Activity data for the day */
.activity-day-data-tile {
  text-align: center;
  color: #EBECF0
}

.day-activity {
  background-color: #8064A1;
  margin: 0.5rem;
  border-radius: .75rem;
  padding: 0.5rem;
  font-family: sans-serif;
  font-weight: 500;
  color: #EBECF0
}


/* Hydration wave */
@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.wave-wrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.wave-wrapper-inner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-image: linear-gradient(to top, #cbf7f1 20%, #7ca6d9 80%);
}
.bgTop {
    z-index: -5;
    opacity: 0.5;
}
.bgMiddle {
    z-index: -10;
    opacity: 0.75;
}
.bgBottom {
    z-index: -15;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.wave-top {
    background-size: 50% 100px;
}
.wave-animation .wave-top {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.wave-middle {
    background-size: 50% 120px;
}
.wave-animation .wave-middle {
    animation: move_wave 10s linear infinite;
}
.wave-bottom {
    background-size: 50% 100px;
}
.wave-animation .wave-bottom {
    animation: move_wave 15s linear infinite;
}




.zzz-sleep{
  animation-duration: 20s;
  animation-fill-mode: none;
  animation-iteration-count: infinite;
  animation-name: z-sleep;
  animation-delay: 0;
  animation-timing-function: linear;
  filter: drop-shadow(0 0 0.75rem black);
  z-index: 2;
  color:#EBECF0;
  text-align: left;
}

@keyframes z-sleep {
  from{ transform: translateX(0)}
  to{ transform: translateX(85%)}
  0% {opacity: 0;}
  20% {opacity: .3;}
  70% {opacity: 0;}
  100% {opacity: 0;}
}
